﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse border-radius-none mb-0"> 
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tourist", "Index", "Home", new { @class = "navbar-brand header-pl" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                @if (IsSectionDefined("HeaderMenu"))
                {
                    @RenderSection("HeaderMenu")
                }
                else
                {
                    @Html.Partial("HeaderMenu", "Index")
                }
            </div>
        </div>
    </div>
   
    @RenderSection("Content", required: false)
     
    <div class="container-fluid mt-20">
        <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>

    @* Script code *@
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ZMMLBCvl7qIv55Sk7PAWQCDxYLfzF0g"></script>

    <script>
        var $qwe = "qweqwe";
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
