﻿@section HeaderMenu {
    @Html.Partial("HeaderMenu", " ")
}

@section Content {
    <div class="container">
        <h1 align="center" class="mt-50"><span class="label label-danger">Error. An error occurred while processing your request.</span></h1>
        <div class="text-center mt-50">
            <button type="button" class="btn btn-default">Return Home</button>
            <button type="button" class="btn btn-primary">Cuntact us</button>
        </div>
    </div>
}


