﻿@model Project.ModelView.AccountInformationViewModel

<div class="form-horizontal mt-20">
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { id = "first-name", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { id = "last-name", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { id = "country", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="button" id="butAddRoutes" class="btn btn-primary pull-right" onclick="changeAccountInformation()">Save information</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeAccountInformation() {
        var setingModel = new Object();
        setingModel.FirstName = $('#first-name').val();
        setingModel.LastName = $('#last-name').val();
        setingModel.Country = $('#country').val();

        $.ajax({
            type: "POST",
            url: "/Account/ChangeAccountInformation",
            data: JSON.stringify(setingModel),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (!data.IsError) {
                    $('#setting-error').addClass('hidden');
                    setTimeout(function () { $('#forgot-form').modal('hide'); }, 4000);
                } else {
                    $('#setting-error').removeClass('hidden');
                    $('#setting-error').html(data.ErrorMessage.toString().replace(/\,/g, "<br />"));
                }
            },
            error: function () {
                console.log('Error');
            }
        });
    }

</script>
