﻿@model Project.ModelView.ChagePasswordViewModel

<div class="form-horizontal mt-20">
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { id = "current-password", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { id = "new-password", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewPasswordConfirm, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { id = "new-password-confirm", @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="button" id="butAddRoutes" class="btn btn-primary pull-right" onclick="changePassword()">
                Change password
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changePassword() {
        var setingModel = new Object();
        setingModel.CurrentPassword = $('#current-password').val();
        setingModel.NewPassword = $('#new-password').val();
        setingModel.NewPasswordConfirm = $('#new-password-confirm').val();

        $.ajax({
            type: "POST",
            url: "/Account/ChangePassword",
            data: JSON.stringify(setingModel),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (!data.IsError) {
                    $('#setting-error').addClass('hidden');
                } else {
                    $('#setting-error').removeClass('hidden');
                    $('#setting-error').html(data.ErrorMessage.toString().replace(/\,/g, "<br />"));
                }
            },
            error: function () {
                console.log('Error');
            }
        });
    }
</script>
